/* banner */
#top_container {
  padding: 110px;
  background-color: #f7f9fc;
  border-bottom: 4px solid #013068;
  margin-bottom: 30px;
  background-image: url("../assets/banner2.jpg");
  background-position: 0 100px;
  background-size: cover;
  color: #fff;
}

#main_title {
  padding: 30px 0;
  font-size: 3rem;
}

#main_subtitle {
  font-size: 1rem;
  padding-bottom: 80px;
}

/* form */

#search_form {
  padding: 30px 100px;
  display: flex;
}

#search_form .col-md-10,
#search_form .col-md-2 {
  padding: 0;
}

#search_form input,
#search_form button {
  width: 100%;
  border-radius: 0;
  height: 50px;
  font-size: 18px;
}

#search_form button {
  color: #fff;
  background-color: #f03e3e;
  border: 1px solid transparent;
  height: 50px;
}

#search_form button:hover,
.list_group_item a:hover {
  background-color: #fff;
  color: #f03e3e;
  border-color: #f03e3e;
}

#no_results {
  background-color: #f03e3e;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  height: 5rem;
  margin-top: 2rem;
}

/* lista */

#jobs_container {
  padding: 0 100px;
  padding-bottom: 50px;
  /* background-color: aqua; */
}

#job_list_title {
  margin-bottom: 35px;
}

#job_list .list_group_item {
  margin-bottom: 8px;
  border: 1px solid #ccc;
  padding: 15px 80px;
  color: #212529;
  height: 150px;
}

#job_list .list_group_item p {
  font-size: 14px;
  margin-bottom: 5px;
}

#job_list .list_group_item#new_job {
  border: none;
  background-color: #fff7cc;
}

.list_group_item img {
  width: 120px;
  border: 1px solid #212529;
  border-radius: 50%;
  background-color: #fff;
  left: -50px;
  margin-left: -8rem;
}

.list_group_item {
  display: flex;
}

.list_group_item div {
  margin-left: 2rem;
}

.link_button {
  position: absolute;
  right: 20px;
  margin-top: 1rem;
  margin-right: 30rem;
  height: 50px;
  line-height: 32px;
  background-color: #f03e3e;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

#new_job h2 {
  width: 20rem;
}

.new_job_label {
  background-color: #ffd500;
  color: #4d5154;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  right: 250px;
  top: 40px;
  display: none;
  margin-left: 25rem;
  height: 30px;
  margin-top: 1.5rem;
}

#new_job .new_job_label {
  display: block;
}

@media (min-width: 375px) and (max-width: 573px) {
  #search_form {
    display: grid;
  }

  /* home */
  #top_container {
    padding: 50px;
    padding-top: 20px;
  }

  #main_title {
    font-size: 2rem;
  }

  #main_subtitle {
    font-size: 1.2rem;
  }

  #search_form {
    padding: 0;
  }

  #no_results {
    text-align: center;
    font-size: 2rem;
    height: 6rem;
    margin-top: 2rem;
  }

  #jobs_container {
    padding: 20px;
  }

  
#new_job h2 {
  width: 10rem;
}

  .list_group_item {
    padding: 15px 85px;
  }

  #job_list .list_group_item {
    height: 120px;
  }

  .link_button {
    margin-right: 0.5rem;
    right: 20px;
    margin-top: 1.5rem;
    height: 45px;
    padding: 5px;
    
  }

  .list_group_item h2 {
    font-size: 1.2rem;
    width: 80%;
  }

  .list_group_item img {
  width: 3rem;
  margin-left: -4.5rem;
  margin-top: 1.5rem;
  height: 3rem;
  }

  .new_job_label {
    margin-left: 0rem;
    background-color: #ffd500;
    position: relative;
  }

  #new_job .new_job_label {
    display: none;
  }
}

@media (min-width: 574px) and (max-width: 864px) {
  #search_form {
    display: flex;
  }

  /* home */
  #top_container {
    padding: 50px;
    padding-top: 20px;
  }

  #main_title {
    font-size: 3rem;
  }

  #main_subtitle {
    font-size: 1.5rem;
  }
#new_job h2 {
  width: 8rem;
}


  .link_button {
    margin-right: 10rem;
    
  }

  .list_group_item h2 {
    font-size: 1.2rem;
    width: 80%;
  }

  .list_group_item img {
  width: 3rem;
  margin-left: -4.5rem;
  margin-top: 1.5rem;
  height: 3rem;
  }

  .new_job_label {
    margin-left: 0rem;
    background-color: #ffd500;
    position: relative;
  }

  #new_job .new_job_label {
    display: none;
}
}
