/* add page */

#add_form_container {
    margin-top: 100px;
  }
  
  #form_box {
    padding: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    border-radius: 4px;
    background-color: #FFF;
    margin-bottom: 50px;
  }
  
  #add_form_container h1 {
    margin-bottom: 20px;
  }
  
  #add_form_container h2 {
    color: #F03E3E;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  #add_form_container form label {
    font-weight: bold;
  }
  
  #add_form_container form input, #add-form-container form textarea {
    border: 2px solid #CCC;
    background-color: #F8F9FA;
  }
  
  #form_box button {
    height: 50px;
    width: 200px;
    background-color: #F03E3E;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 20px;
  }

  @media (max-width: 481px) {
     /* add view */

     #add_form_container {
      margin-top: 50px;
    }
  #form_box {
    padding: 25px;
  }

  #form_box h2 {
    font-size: 0.9rem;
    text-align: center;
  }

  #form_box button {
    width: 100%;
  }
  }