.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-top: 0.5rem;
    border-bottom: 1px solid #CCC;
  }

  .navbar button {
    color: #928585;
    border: 1px solid transparent;
  }

  .navbar button:hover {
    background-color: #d8d8d8;
    color: #928585;
  }
  
  #job {
    height: 3rem;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #000000;
  }
  .nav_links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
  }
  
  .home,
  .projects
  {
    color: #000000;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .mobile_menu_icon {
    display: none;
  }
  
  @media screen and (max-width: 832px) {
    .logo {
      display: flex;
      position: absolute;
      top: 15px;
      left: 35px;
    }
  
    .navbar img {
      height: 2.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  
    .nav_links {
      display: none;
    }
  
    .nav_links_mobile {
      position: absolute;
      display: block;
      list-style: none;
      background-color: rgba(147, 147, 147, 0.808);
      left: 0;
      top: 75px;
      transition: all 0.5s ease-out;
      width: 100%;
    }
  
    .home,
    .projects 
    {
      color: #fff;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all a.5s ease;
    }
  
    .mobile_menu_icon {
      display: block;
      position: absolute;
      font-size: 30px;
      color: #fff;
      border: none;
      outline: none;
      top: 15px;
      right: 25px;
    }
  }
  